*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(218, 202, 202, 0);
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f88f;
}
.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #ffffff;
    padding: 25px;
    border-radius: 8px;
    margin-left: auto; /* Add this line */
    margin-right: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  }
  .container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
  }
.container .form{
    margin-top: 30px;
}
.form .input-box{
    width: 100%;
    margin-top: 20px;
}
.input-box label {
    color: #333;
  }
.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }
  .form .row{
    width: 100%;
    display: flex;
    column-gap: 15px;
  }
  .input-box textarea[placeholder="Enter your bio"] {
    height: 9rem;
    width: 100%;
    resize: none; /* Prevent resizing of the textarea */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 6px;
    border: 1px solid #ddd;
    font-size: 1rem;
    color: #707070;
}
.form .input-box-handles{
    /* width: 0%; */
    margin-top: 15px;
}
.form :where(.input-box-handles input, .select-box) {
    position: relative;
    height: 30px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    /* margin-top: 8px; */
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  .form .row-handles{
    width: 100%;
    display: flex;
    column-gap: 125px;
  }
  .handles{
    display: flex;
  }
  
  .form :where(.input_fields_wrap .input-box input, .select-box) {
    position: relative;
    height: 30px;
    width: 50%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  .add_field_button{
    border: none;
    margin-top: 4%;
    margin-right: ;
  }
  .container2 {

    max-width: 400px;
    width: 100%;
    background: #fff;
    /* padding: 30px; */
    border-radius: 30px;
    transform: scale(0.8);
    /* margin-right: auto;
    margin-left: auto; */
    /* align-items: center; */
    margin-left: auto;
  }
  .img-area {
    position: absolute;
    /* width: 100%; */
    height: 100px;
    width: 100px;
    background: var(--grey);
    /* margin-bottom: 30px; */
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    overflow: hidden;
    
    
  }
  .img-area .icon {
    font-size: 100px;
  }
  .img-area h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
  }
  .img-area p {
    color: #999;
  }
  .img-area p span {
    font-weight: 600;
  }
  .img-area img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
  }
  .img-area::before {
    content: attr(data-img);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;
    z-index: 200;
  }
  .img-area.active:hover::before {
    opacity: 1;
  }
  .select-image {
    position:relative;

    bottom: -2.9rem;
    right: -4.7rem;
    display: block;
    align-items: end;
    width: 10%;
    padding: 16px 0;
    border-radius: 15px;
    background: var(--blue);
    color: #121111;
    font-weight: 500;
    font-size: 16px;
    background: transparent;
    border: none;
    /* margin-left: auto;
    margin-right: auto ; */
    cursor: pointer;
    z-index: 999;
    transition: all .3s ease;
  }
  .select-image:hover {
    background: var(--dark-blue);
  }

 