/* Your existing CSS file (or create a new one) */

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Body and Container Styles */
  .fg_pass_container {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  
  .fg_pass_container .container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 568px;
    max-width: 100%;
    min-height: 280px;
    padding: 40px;
  }
  .fg_pass_container .container h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Form Elements */
  .fg_pass_container .container label {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
  }
  
  .fg_pass_container .container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
  }
  
  .fg_pass_container .container button {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
  }
  
  .fg_pass_container .container button.hidden {
    background-color: transparent;
    border-color: #fff;
  }
  
  /* Links and Text */
  .fg_pass_container .container p {
    font-size: 13px;
    text-align: center ;
  }
  .fg_pass_container .container p a {
    color: #512da8;
    text-decoration: none;
    font-weight: 600;
  }
  .fg_pass_container .container p a:hover {
    scale: 1.1;
    padding-bottom: 2px;
    border-bottom: 2px solid #512da8;

  }

  
  .fg_pass_container .container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
  }
  
  
  /* Error and Success Messages */
  .fg_pass_container .container .errormsg {
    color: #f409d2;
  }
  
  .fg_pass_container .container .successmsg {
    color: #4caf50;
  }
  .fg_pass_container .container form{
    height: 130px;

  }

  